<div class="col-12 col-sm-10 offset-sm-1">
    <h1>New Prayer</h1>
    <%= simple_form_for @prayer do |f| %>
        <%= f.input :name, placeholder: "Your Name" %>
        <%= f.input :email, label: false, placeholder:"Email" %>
        <%= f.input :request_type, label: "Type Of Request", :collection => %w[Financial Sickness Marriage Death] %>
        <%= f.input :title, label: "Short Summary Title Of Request" %>
        <%= f.input :description, label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'}%>
        <%= f.submit "Send Prayer", class: "btn btn-success" %>
    <% end %>
</div>